@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
