body {
  margin: 0;
}

.wrapper_black {
  width: 100%;
  height: 900px;
  background: #000000;
  background: -moz-linear-gradient(left,  #000000 32%, #ffffff 32%);
  background: -webkit-linear-gradient(left,  #000000 32%,#ffffff 32%);
  background: linear-gradient(to right,  #000000 32%,#ffffff 32%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 );
}

.header {
  display: flex;
}

.header__logo {
  position: relative;
  font: 500 30px/37px Montserrat, arial, helvetica, sans-serif;
  color: #FFFFFF;
  letter-spacing: 0.07em;
  margin: 36px 0 96px 52px;
}

.header__lang_ru {
  position: relative;
  font: 500 20px/24px Montserrat, arial, helvetica, sans-serif;
  color: #FFFFFF;
  margin: 42px 0 0 16.6%;
}

.header__lang-selector {
  width: 6px;
  height: 6px;
  position: relative;
  border-right: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  transform: rotate(45deg);
  margin: 51px 0 0 .57%;
}

#menu__toggle {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  top: 5px;
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  position: absolute;
  right: 0;
  width: 92px;
  height: 92px;
  cursor: pointer;
  z-index: 2;
  background: #d4d4d4;
}

.menu__btn > span,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 35px;
  height: 4px;
  margin: 43% 0 0 30%;
  background-color: #000000;
  transition-duration: .25s;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
  margin: 0 0 0 0;
}

.menu {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 175px 0 0 0;
  text-align: center;
  list-style: none;
  z-index: 1;
  background-color: #FAE8E4;
  transition-duration: .25s;
}

.section_new-collection {
  margin: 0 0 84px 13%;
  padding: 0 0 71px 41.8%;
  background: top left no-repeat url(img/Newcollection.png);
  z-index: -1;
}

.section_new-collection__title {
  padding-top: 102px;
  margin: 0 0 17px 0;
  font: 700 80px/82px Montserrat, arial, helvetica, sans-serif;
}

.section_new-collection__content {
  padding-right: 20%;
  margin: 0 11% 36px 0;
  font: 400 15px/21px Montserrat, arial, helvetica, sans-serif;
}

.section__button_next {
  display: inline-block;
  margin-top: 2px;
  padding: 12px 38px 12px 36px;
  font: 500 13px Montserrat, arial, helvetica, sans-serif;
  color: #000000;
  text-decoration: none;
  border: 1.5px solid #000000;
  cursor: pointer;
}

.section__button_other {
  display: inline-block;
  padding: 0 0 12px 52px;
  font: 500 13px Montserrat, arial, helvetica, sans-serif;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.section__button_other::after {
  content: url(img/Vector2.1.svg);
  display: inline-block;
  width: 45px;
  margin-left: 17px;
  transform: translateY(1px);
}

.footer__socials {
  padding: 2px 0 0 3.6%;
}

.footer__socials > div {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin-right: 8px;
}

.footer__socials > div:last-child {
  margin-right: 0;
}

.footer__instagram {
  background-image: url(img/INST.svg);
}

.footer__vk {
  background-image: url(img/VK.svg);
}

.footer__fb {
  background-image: url(img/FB.svg);
}

.footer__scroll {
  display: inline-block;
  position: absolute;
  top: 815px;
  left: 49.1%;
  width: 27px;
  height: 46px;
}

.scroll__big {
  background-image: url(img/Scrooll.svg);
  width: 27px;
  height: 46px;
}

.scroll__small {
  background-image: url(img/Scrooll1.svg);
  position: absolute;
  left: 45.4%;
  top: 11.5px;
  width: 2.5px;
  height: 8px;
}
